# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Ficheros ejecutables
*.exe
*.out
*.app

# Directory for binaries
bin/

# Cache of packages
*.pkg
*.zip

# Compiled Go code
*.test
*.prof

# Tools
.idea/
.vscode/

# Go Modules
# go.mod
go.sum

# Credentials
credentials.json